*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

main,
header{
    background-color: black;
    /* border: 1px solid black; */
}


.webAppContainer{
    height: 100vh;
    /* background-color: black; */
    display: flex;
    flex-direction: column;    
}


/* HEADER */

.flexHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header{
    padding-top: 0.5%;
    padding-bottom: 2%;
}

#speakerView,
#enlargeButton{
    padding: 5px;
    background-color: grey;
    color: white;
    margin-left: 1%;
    border-radius: 5px;
}

#speakerView p{
    background-color: grey;
}


/* MAIN */

main{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.card{
    width: calc(100%/7);
    position: relative;
    padding: 5px;
}

.card img{
    width: 100%;

}

.cardLabel{
    position: absolute;
    top: 83%;
    color: white;
    background-color: black;
    padding-right: 1%;
    padding-left: 1%;
    padding: 1%;
 
}

.fa-microphone-slash{
    color: red;
    font-size: smaller;
}

.greenCard{
    border: 4px solid rgb(86, 241, 86);
}


/* FOOTER */

.flexFooter,
.leftFooter,
.centerFooter,
.rightFooter{
    background-color: rgb(59, 58, 58);
    /* height: 100px; */
    display: flex;
    justify-content: space-between;
}

footer div{
    padding: 0.5%;
}

.leftFooter{
    width: 15%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.leftFooter span{
    display: flex;
}

.centerFooter span{
    display: flex;
}

.leftFooter span{
    display: flex;
}


.arrowUp{
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.centerFooter{
    width: 70%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.rightFooter{
    width: 15%;
    /* border: 1px solid red; */
}

#endMeeting{
    text-align: center;
    background-color: gray;
    border: 2px solid black;
    padding: 5%;
    width: 70%;
}

.fa-solid{
    font-size: larger;
    color: white;
    
}

p{
    color: white;
    font-size: smaller;
}

.fa-circle-xmark{
    color: red;
}


.lilMic{
    font-size: small;
}

.fa-microphone-slash{
    color: red;
}

.fa-microphone{
    color: rgb(23, 150, 23);
}

.fa-share-from-square{
    color: greenyellow;
}



/* .leftFooter span,
.leftFooter div,
.centerFooter span,
.centerFooter div,
.rightFooter div{
    background-color: rgb(59, 58, 58);
} */